<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Server using Socket.io and NestJS</title>
</head>
<body>
    
    <h1>Chat of <span id="namespace"></span></h1>

    <ul id="chat" ></ul>

    <button id="sendMessage">Send Message</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    
</body>
</html>