<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Server using Socket.io and NestJS</title>
</head>
<body>

    <ul class="room" id="room1"></ul>
    <ul class="room" id="room2"></ul>
    <ul class="room" id="room3"></ul>

    <button id="joinRoom1">Join Room 1</button>
    <button id="joinRoom2">Join Room 2</button>
    <button id="joinRoom3">Join Room 3</button>

    <br>
    <button id="sendMessage">Send Message</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
    
</body>
</html>